
#container1
{
display: flex;
flex-direction: column;

}
.container2
{
display: flex;
flex-direction: row;
justify-content: space-between;
height:50px;
border: solid 1px;
margin-bottom: 10px;


}
.container3
{
display: flex;
flex-direction: column;
justify-content: space-around;
border: solid 1px;
margin-bottom: 10px;


}
.container4
{
display: flex;
flex-direction: column;
border: solid 1px;
margin-bottom: 10px;


}

#exp1, #exp2, #exp3, #exp4
{
display: flex;
flex-direction: row;
border: solid 1px; 
margin-left: 10px;
margin-right: 10px;
margin-bottom: 10px;


}

.container5
{
display: flex;
flex-direction: column;
justify-content: space-around;
border: solid 1px;
margin-bottom: 10px;

}
.container6
{
display: flex;
flex-direction: column;
border: solid 1px;
margin-bottom: 10px;

}
.container7
{
display: flex;
flex-direction: column;
border: solid 1px;
margin-top: 10px;

}
.container8
{
display: flex;
flex-direction: row;
justify-content: space-around;
margin-top: 10px;
border: solid 1px;
}
